.survey-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #1d1d1d;

    padding-top: 2rem;

    .survey-intro {
        width: 100%;
        text-align: center;
        font-size: 4rem;

        margin-bottom: 2rem;

        @media (max-width: 720px) {
            font-size: 2.5rem;
        }
    }

    .plus-sign {
        height: 2rem;
        width: 2rem;
        margin-bottom: 2rem;
    }
}

.survey-add {
    width: 80%;
    height: auto;
    padding: 2rem 2rem;
    box-shadow: 1px 6px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    @media (max-width: 720px) {
        width: 95%;
    }
}

.btns-holder {
    display: flex;
    width: 450px;
    padding: 1rem 0;
    @media (max-width: 720px) {
        width: 100%;
        justify-content: center;
    }
    .btn-ff {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 2rem;
        background: #4a76a8;
        color: white;
        font-size: 1.6rem;
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.15s;
        @media (max-width: 720px) {
            font-size: 1.3rem;
            padding: 1rem 1rem;
        }
        &:hover {
            background: #4f80b6;
        }
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}
