.survey-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    max-height: 20rem;
    .survey__instance {
        width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 1rem 2rem;
        box-shadow: 1px 6px 30px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        background: white;

        @media (max-width: 720px) {
            width: 100%;
        }

        .survey__num {
            width: 100%;
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        .survey-input {
            display: flex;
            align-items: center;
            width: 100%;
            .input-place {
                display: flex;
                flex-direction: column;
                label {
                    font-size: 1.5rem;
                }
                input {
                    border-radius: 4px;
                    border: 1px solid rgba(#000, 0.3);
                    padding: 0.5rem 1rem;
                    transition: border 0.15s;
                    outline: none;
                    width: 100%;
                    //font-size: 16px;
                    &:focus,
                    &:hover {
                        border: 1px solid #159cff;
                    }
                }
                &:nth-child(1) {
                    width: 80%;
                    max-width: 450px;
                    margin-right: 1rem;
                    @media (max-width: 720px) {
                        width: 70%;
                    }
                }
                &:nth-child(2) {
                    align-items: center;
                    input {
                        width: 60px;
                    }
                }
            }
        }
    }
}
