.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    height: 8rem;

    background: $color-main;

    padding-left: 6rem;
    padding-right: 6rem;
    font-size: 1.6rem;
    color: white;

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        height: 50%;
    }
    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        height: 50%;
    }

    &__item {
        color: white;
        text-decoration: none;
        &:not(:last-child) {
            margin-right: 4rem;
        }
    }
}

@media screen and (max-width: 550px) {
    .nav {
        padding: 0 10px;
    }

    nav > .nav__item:not(:last-child) {
        margin-right: 15px;
    }
}

@media screen and (max-width: 360px) {
    .nav {
        padding: 3px;
    }

    nav > .nav__item:not(:last-child) {
        margin-right: 2px;
    }
}
